* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(aqua, #6a75f0, violet);
    height: 200vh;
}

#main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
}

.logo {
    height: 100px;
    width: 100px;
    border-radius: 15px;
    position: fixed;
    margin: 15px;
}

.logo.emb {
    width: 200px;
    left: 0px;
}

.logo.ind {
    right: 0px;
    top: 0px;
}

h1 {
    margin: 80px 0px;
    font-size: 50px;
    font-family: "roboto", sans-serif;
    color: rgb(245, 220, 190);
    text-shadow: 2px 2px gray;
    word-spacing: 15px;
}

#textarea {
    resize: none;
    width: 75vw;
    height: 275px;
    margin: 0px 0px 45px 0px;
    border: 2.5px solid black;
    border-radius: 10px;
    font-family: "baloo bhai 2", "roboto", sans-serif;
    font-size: 1.25rem;
    padding: 20px;
    z-index: 1;
}

button {
    height: 50px;
    width: 130px;
    border: 0.5px solid gray;
    background-color: rgb(245, 229, 208);
    border-radius: 5px;
    font-size: 1.15rem;
    font-family: "baloo bhai 2", "roboto", sans-serif;
}

button:hover {
    background-color: rgb(245, 220, 190);
    border: 1px solid gray;
    cursor: pointer;
}

.scroll.up {
    position: fixed;
    left: 0;
    bottom: 0;
}

.scroll.down {
    position: fixed;
    right: 0;
    bottom: 0;
}

#option {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.audiobox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin-bottom: 45px;
    border: solid black 2px;
    border-radius: 15px;
    height: 200px;
    width: 300px;
}

#textarea2 {
    resize: none;
    width: 40vw;
    height: 375px;
    margin: 50px;
    border: 2.5px solid black;
    border-radius: 10px;
    font-family: "baloo bhai 2", "roboto", sans-serif;
    font-size: 1.25rem;
    padding: 20px;
}
